
body {
    font-family: Arial, sans-serif;
}


table {
    width: 80vw;
    border-collapse: collapse;
    border: 2px solid black;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

th {
    font-weight: bold;
    background-color: #f2f2f2;
}

table tr th:first-child,
table tr td:first-child {
    width: 10%;
}

table tr th {
    padding: 15px 10px;
    font-size: 16px;
}
.operation-column {
    width: 80px;
}

.bookview{
    margin-bottom: 180px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 50px;
}

.addBook {
    margin-top: 20px;
}
input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}
button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}
.delete{
    padding: 10px 15px;
    background-color: #cf0d0d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10%;
}
.delete:hover {
    background-color: #a31f1f;
}
button:hover {
    background-color: #45a049;
}


.input-group {
    position: relative; 
    margin-bottom: 15px;
}

.input-with-error {
    border-color: red;
}

.input-with-error + .error {
    position: absolute;
    bottom: -30px;
    left: 5px;
    color: red; 
}
.addBook {
    float: left;
    align-items: center;
    flex-direction: row; 
    gap: 10px; 
    margin-top: 20px;
}
.fix{
    position: fixed;
    bottom: 0px;
    left: 0px; 
    right: 0; 
    display: flex;
    align-items: center;
    flex-direction: row; 
    gap: 10px; 
    padding: 10px 0 30px 30px; 
    background-color: #fff;
    z-index: 1000;  
}